@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primaria: #191825;
    --cor-secundaria: #FEFAE0;
    --cor-terciaria: #63C8FF;
    --cor-quaternaria: #065084;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* HEADER */
.cabecalho {
    padding: 2% 0 0 16%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

/* APRESENTAÇÃO */
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__imagem {
    width: 40%;
    border-radius: 10px;
}

/* LINKS */
.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao__links__navegacao {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--cor-terciaria);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-secundaria);
    transition: 0.2s;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-quaternaria);
    transform: scale(1.05);
}

/* PROJETOS */
.projetos {
    padding: 5% 15%;
}

.projetos h2 {
    font-family: var(--fonte-primaria);
    margin-bottom: 30px;
}

.projetos__container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.projeto {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.projeto__links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.projeto__links a {
    color: var(--cor-terciaria);
    text-decoration: none;
}

/* FOOTER */
.rodape {
    padding: 16px;
    background-color: var(--cor-quaternaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .apresentacao {
        flex-direction: column-reverse;
        text-align: center;
    }

    .apresentacao__conteudo {
        width: 100%;
    }

    .apresentacao__imagem {
        width: 70%;
    }
}